.image-left{
	max-width: 700px;
	background-color: rgb(235, 225, 206);
	display: flex;
	/* flex-direction: column; */
	/* flex-wrap: wrap; */
	/* border: solid 1px red; */
	overflow: hidden;
	flex-wrap: wrap;
}
.content-image {
	width: 100%;
    border: solid 1px rgb(21, 228, 149);
    margin-right: 5px;
	margin-bottom: 2px;
    /* height: 300px; */
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.image-left > div {
	/* background-color: yellow; */
	padding-right: 10px;
	max-width: 50%;
	overflow: hidden;
	/* margin-right: 10px; */
}

.image-detailed{
	height: fit-content;
	/* width: fit-content */
	/* background-color: blue; */
	
	transition: all .3s ease-in-out;
	overflow: hidden;
	cursor:zoom-in;
	/* margin-right: 10px; */
	padding-right: 10px;
	/* max-width: 350px; */
	width: 353.3px;
}

.image-detailed:hover{
	transform: scale(1.3);
	overflow: hidden;
}