.details-outer-wrapper{
	display: flex;
	/* border: 2px solid yellow; */
}
.size-varient{
	padding: 14px 16px;
	border: solid 2px #ff3e6c;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
	transition: all .3s ease-in-out;
}
.size-varient:hover{
	background-color: #ff3e6c;
	color: #fff;
}

.details-btn{
	padding: 15px 20px;
	width: 40%;
	margin: 20px;
	border: none;
	border-radius: 5px;
}

.btn-primary{
	background-color: #ff3e6c;
	border: none;
	border: solid 1px #ff3e6c;
	color: #fff;
	transition: all .3s ease-in-out;
}

.btn-primary:hover{
	border: solid 1px #ff3e6c;
	background-color: transparent;
	color: #ff3e6c;
}