.grandFather {
  border: 5px solid;
  /* margin: 10px; */
}

.BrandsToBag {
  margin: 70px 0px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px -1px;
}

.ShopByCategory {
  margin: 70px 0px;
  border: 1px solid rgb(106, 0, 255);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.OmgDeals {
  margin: 70px 0px;
  border: 1px solid rgb(20, 20, 19);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.GrandBrand {
  margin: 70px 0px;
  border: 1px solid rgb(255, 3, 192);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* background-color: blue; */
}

.BudgetToBuys {
  margin: 70px 0px;
  border: 1px solid rgb(0, 255, 26);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
h1{
    text-align: left;
    margin: 50px;
    text-transform: uppercase;
}

.image_size {
  width: 100%;
  height: auto;
}
