.modal-wrapper{
	top: 80px;
    bottom: 43px;
    right: 178px;
    left: 200px;
    position: fixed;
    /* height: 100vh; */
    /* width: 100vw; */
    background: #ccc;
    z-index: 99;
}
.flex-end{
	justify-content: center;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	font-weight: 500;
	font-size: 22px;
}
.inner-head{
	width: 100%;
	height: 50px;
	background-color: rgba(114, 70, 80, 0.8);
}
.card-wrapper{
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
	/* border: solid 1px red; */
	margin-top: 30px;
	background-color: #fff;
}
.inner-product-image {
		width: 233px;
		height: 280px;
	}
	.inner-card-info h3,
	p {
		margin: 2px;

	}
